<div class="container-fluid">
  <!-- top image -->
  <div id="mainSlider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/banner1.png" class="d-block w-100" alt="JobSeekers">
        <div class="carousel-caption d-none d-md-block">
          <h2>Looking for a Job?</h2>
          <p>Just join us, we have more than 30 offices nationwide to help you to find your dream job .</p>
          <a href="/jobseeker" class="main-btn">Sign in here</a>
        </div>
      </div>
      </div>
    </div>
  </div>

  <!-- About -->
  <div id="about-area">
    <div class="container">
        <div class="row">
          <div class="col-12">
            <h3 class="main-title">About TopJobs</h3>
          </div>
          <div class="col-md-6">
            <img class="img-fluid" src="assets/homePic.jpg" alt="About TopJobs">
          </div>
          <div class="col-md-6">
            <h3 class="about-title">TopJobs is looking for your future</h3>
            <p>TopJobs Inc. is one of the top recruitment companies in the US.</p>
            <p>TopJobs strives to put job seekers first, giving them free access to search for jobs, post resumes, and research companies.</p>
            <p>Every day, we connect millions of people to new opportunities.</p>
            <p>We are specialized in the areas of:</p>
            <ul id="about-list">
              <li><i class="fas fa-check"></i> Accounting</li>
              <li><i class="fas fa-check"></i> Finance</li>
              <li><i class="fas fa-check"></i> Sales</li>
              <li><i class="fas fa-check"></i> Marketing</li>
              <li><i class="fas fa-check"></i> Information technology</li>
              <li><i class="fas fa-check"></i> Engineering</li>
            </ul>
          </div>
        </div>
      </div>
  </div>

  <!-- Team -->
  <div id="team-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="main-title">Some of our clients</h3>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="assets/profile1.jpg" class="card-img-top" alt="Profile 1">
            <div class="card-body">
              <h5 class="card-title">Juan Antonio</h5>
              <p class="card-text">Software Developer</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="assets/profile2.jpg" class="card-img-top" alt="Profile 2">
            <div class="card-body">
              <h5 class="card-title">Kate Dibiasky</h5>
              <p class="card-text">Marketing Specialist</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="assets/profile3.jpg" class="card-img-top" alt="Profile 3">
            <div class="card-body">
              <h5 class="card-title">Jonathan Meyers</h5>
              <p class="card-text">Sales Consultant</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card">
            <img src="assets/profile4.jpg" class="card-img-top" alt="Profile 4">
            <div class="card-body">
              <h5 class="card-title">Melanie Daniels</h5>
              <p class="card-text">UX/UI Designer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



