<p></p>
<h1 mat-dialog-title>{{data.idata.title}}</h1>
<div mat-dialog-content>
  <p>Edit Job</p>
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.idata.title">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Location</mat-label>
    <input matInput [(ngModel)]="data.idata.location">
  </mat-form-field>
  <br>
  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="data.idata.description">
  </mat-form-field>
  

  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onOk(data.idata.jobId, data.idata)">Ok</button> -->
  <button mat-button [mat-dialog-close]="data.idata" cdkFocusInitial>Ok</button>
</div>