<div class="login-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z5">
    <img mat-card-image class="img" src="assets/images/logo3.png" alt="logo">
    <mat-card-header>
      <mat-card-title id="registerCard">Sign up</mat-card-title>
    </mat-card-header>
    <form name="jobSeekerSignupForm" >
      <mat-card-content>
        <div class="info-container">
          <mat-form-field class="outline">
            <input matInput id="inputName" type="text" name="userName" [formControl]="username"
              placeholder="Enter username" (keydown)="Space($event)" required>
            <small *ngIf="username.invalid && username.touched" class="text-danger">User name is Required</small>
            <mat-icon matSuffix>portrait</mat-icon>
          </mat-form-field>
          <mat-form-field class="outline">
            <input matInput id="inputPassword" [type]="hide ? 'password' : 'text'" name="userPass"
              [formControl]="password" placeholder="Enter Password" (keydown)="Space($event)" required>
            <small *ngIf="password.invalid && password.touched" class="text-danger">Password is Required</small>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon matSuffix>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>
        <div class="name-container">
          <mat-form-field class="outline">
            <input matInput id="inputFirstName" type="text" name="userFirstName" [formControl]="firstname"
              placeholder="Enter First name" (keydown)="Space($event)" required>
            <small *ngIf="firstname.invalid && firstname.touched" class="text-danger">First name is Required</small>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
          <mat-form-field class="outline">
            <input matInput id="inputLastName" type="text" name="userLAstName" [formControl]="lastname"
              placeholder="Enter Last name" (keydown)="Space($event)" required>
            <small *ngIf="lastname.invalid && lastname.touched" class="text-danger">Last name is Required</small>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>
        <div class="info-container">
          <mat-form-field class="outline">
            <input matInput id="inputEmail" type="text" name="userEmail" [formControl]="email" placeholder="Enter email"
            (keydown)="Space($event)" required>
            <small *ngIf="email.invalid && email.touched" class="text-danger">Email is Required</small>
            <mat-icon matSuffix> email</mat-icon>
          </mat-form-field>
          <mat-form-field class="outline">
            <input matInput id="inputPhonenumber" type="text" name="userNumber" [formControl]="phonenumber"
              placeholder="Enter Phone number" (keydown)="Space($event)" required>
            <small *ngIf="phonenumber.invalid && phonenumber.touched" class="text-danger">Phone number is
              Required(length 10, numbers are only allowed)</small>
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>
        </div>
        <mat-form-field class="example-full-width">
          <input matInput id="inputAddress" type="text" name="useraddr" [formControl]="address"
            placeholder="Enter Address" (keydown)="Space($event)" required>
          <small *ngIf="address.invalid && address.touched" class="text-danger">Address is Required</small>
          <mat-icon matSuffix>create</mat-icon>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <textarea matInput id="inputResume" type="text" name="userResume" [formControl]="resume"
            placeholder="Write your Resume here" required> </textarea>
          <small *ngIf="resume.invalid && resume.touched" class="text-danger">Address is Required</small>
        </mat-form-field>
      </mat-card-content>
      <button id="submitRegisterBtn" (click)="signUp()" class="btn btn-default btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">
        Sign up
      </button> &nbsp; &nbsp;
    </form>
    <p>
      <a id="loginLink" routerLink="/login"> Already a member? Click to Sign in!</a>
    </p>
    <a id="employerRegister" routerLink="/employerregister">Are you an Employer? Click here to Sign Up!</a>


  </mat-card>
</div>
